<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder",
    	user: current_user).html_safe %>
  </script>
<% end %>
<script type="text/javascript">
  window.p1 = "<%= image_url('1.png') %>"
  window.p2 = "<%= image_url('2.jpg') %>"
  window.p3 = "<%= image_url('3.jpg') %>"
  window.p4 = "<%= image_url('4.jpg') %>"
  window.p5 = "<%= image_url('5.jpg') %>"
  window.arrow= "<%= image_url('arrow.png') %>"
</script>
<div id="root"></div>
